<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add-book' %}" method="POST">
        {% csrf_token %}
        <input class="create_input" type="text" placeholder="Напишите сюда заголовок" name="book_title">
        <input class="create_input" type="text" placeholder="Подзаголовок" name="book_subtitle">
        <input class="create_input" type="text" placeholder="Описание" name="book_description">
        <input class="create_input" type="text" placeholder="Цена" name="book_price">
        <input class="create_input" type="text" placeholder="Жанр" name="book_genre">
        <input class="create_input" type="text" placeholder="Автор" name="book_author">
        <input class="create_input" type="text" placeholder="Год выхода книги" name="book_year">
        <button class="create_button"> Добавить </button>
    </form>
    {% for book in books %}
        <div style="border: 2px solid green; margin: 15px 15px; padding: 10px 10px; box-sizing: border-boxd; display: inline-block;">
            <h2> {{book.title}} </h2>
            <h2> {{book.author}} </h2>
            <h2> {{book.subtitle}} </h2>
        </div>
    {% endfor %}
</body>
</html>